.button {
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 16px;
  background-color: #e2e0e3;
  border: 1px solid #b7b4bc;
  color: #000;
  border-radius: 5px;

  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: #7e7b84;
}
